school-interface-two/classes/__pycache__/person.cpython-39.pyc
school-interface-two/classes/__pycache__/school.cpython-39.pyc
school-interface-two/classes/__pycache__/staff.cpython-39.pyc
school-interface-two/classes/__pycache__/student.cpython-39.pyc